*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
  color: #333333;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1;
}

a {
  text-decoration: none;
}

.logo {
  color: #333333;
  font-size: 3.2rem;
  font-weight: 800;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.admin__sidebar {
  transition: 0.2s linear;
  border-radius: 0 1.2rem 1.2rem 0;
  background: #333333;
  max-width: 30rem;
}
.admin__sidebar .logo .logo__text {
  color: #ffffff;
}
.admin__sidebar .admin-sidebar__nav {
  width: 100%;
}
.admin__sidebar .admin-sidebar__nav .sidebar-nav__item .sidebar-nav__link {
  color: #6b7280;
}
.admin__sidebar .admin-sidebar__nav .sidebar-nav__item .sidebar-nav__link .sidebar-nav__icon {
  color: #00c2ff;
  font-size: 1.8rem;
}
.admin__sidebar .admin-sidebar__nav .sidebar-nav__item:hover {
  background: rgba(0, 195, 255, 0.2);
}
.admin__sidebar .admin-sidebar__nav .sidebar-nav__item:hover .sidebar-nav__link {
  color: #ffffff;
}

.admin__sidebar--mini {
  max-width: 12rem;
  padding-inline: 0.6rem !important;
}
.admin__sidebar--mini .logo .logo__text {
  display: none;
}
.admin__sidebar--mini .sidebar-nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.admin__sidebar--mini .sidebar-nav__item .sidebar-nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.3rem;
}

/* Mobile: with < 740px */
@media only screen and (max-width: 46.1875em) {
  .admin__sidebar {
    display: none !important;
  }
  .admin__sidebar--mini {
    display: flex !important;
  }
}
/* Tablet: width >= 740px and width < 1024px */
/* Mobile and Tablet: width < 1024px */
/* PC: width >= 1024px */
.cart__nav {
  padding: 14px 20px;
  background: rgba(0, 195, 255, 0.2);
  gap: 28px;
  align-self: stretch;
  margin-top: 3rem;
}
.cart__nav .toggle-dropdown {
  color: #00c2ff !important;
  border: 0.1rem solid transparent;
  padding: 8px 24px;
  border-radius: 50px;
}
.cart__nav .toggle-dropdown:hover {
  background: rgba(0, 195, 255, 0.2);
  border: 0.1rem solid #00c2ff;
}
.cart__nav .nav__item {
  display: flex;
  padding: 8px 24px;
  border-radius: 50px;
  align-items: center;
  gap: 8px;
  border: 0.1rem solid transparent;
  color: #00c2ff !important;
}
.cart__nav .nav__item .nav__link {
  color: #00c2ff !important;
  font-weight: 600;
}
.cart__nav .nav__item:hover {
  border: 0.1rem solid #00c2ff;
  background: rgba(0, 195, 255, 0.2);
}
.cart__nav .nav__item.active {
  border: 0.1rem solid #00c2ff;
  background: rgba(0, 195, 255, 0.2);
}

.cart-nav__respon {
  transition: 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}
.cart-nav__respon .nav__item {
  width: fit-content;
}

/* Mobile: with < 740px */
/* Tablet: width >= 740px and width < 1024px */
/* Mobile and Tablet: width < 1024px */
@media only screen and (max-width: 63.9375em) {
  .cart__nav .nav__item {
    display: none !important;
  }
  .cart__nav .toggle-dropdown {
    display: block !important;
  }
  .cart__nav.cart-nav__respon .nav__item {
    display: block !important;
  }
}
/* PC: width >= 1024px */
.collections__item {
  width: unset !important;
  aspect-ratio: 1;
  overflow: hidden;
}
.collections__item .oh {
  height: 100%;
}
.collections__item div {
  overflow: hidden;
}
.collections__item div .collection-item__inner {
  width: 100%;
  height: 100%;
  position: relative;
}
.collections__item div .collection-item__inner .collection__banner {
  height: 100%;
}
.collections__item div .collection-item__inner .collection__banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s linear;
}
.collections__item div .collection-item__inner .collection__info__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}
.collections__item div .collection-item__inner .collection__info__overlay .collection__info {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.collections__item div .collection-item__inner .collection__info__overlay .collection__info .info__text {
  line-height: 2.2rem;
}
.collections__item div .collection-item__inner .collection__info__overlay .collection__info .info__text .info-text__label {
  color: #ffffff;
}
.collections__item div .collection-item__inner .collection__info__overlay .collection__info .info__btn {
  min-width: 250px;
  padding-inline: 3.2rem;
  background: rgba(0, 0, 0, 0.8);
}
.collections__item div .collection-item__inner:hover > .collection__info__overlay {
  opacity: 1;
  visibility: visible;
}
.collections__item div .collection-item__inner:hover img {
  transform: scale(1.02);
}

.product {
  padding: clamp(0.6rem, 0.314rem + 0.762vw, 1rem);
  width: 100%;
}
.product .product__inner {
  border-radius: 1.2rem;
  position: relative;
}
.product .product__inner .product__overlay {
  position: absolute;
  bottom: 30%;
  left: clamp(0.6rem, 0.314rem + 0.762vw, 1rem);
  right: clamp(0.6rem, 0.314rem + 0.762vw, 1rem);
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 10;
}
.product .product__inner .product__overlay .row .btn {
  border-radius: 0;
  flex-grow: 1;
  transform: translateY(100%);
  transition: 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  padding-block: clamp(1rem, 0.714rem + 0.762vw, 1.4rem);
  padding-inline: clamp(1rem, 0rem + 2.667vw, 2.4rem);
  margin-top: 0;
}
.product .product__inner .product__overlay .row .add__btn {
  background: #212121;
  color: #ffffff;
}
.product .product__inner .product__overlay .row .buy__btn {
  background: #000000;
  color: #ffffff;
}
.product .product__inner .product__banner {
  width: 100%;
  height: 60%;
  position: relative;
}
.product .product__inner .product__banner img {
  object-fit: cover;
}
.product .product__inner .product__detail {
  color: #333333;
  line-height: 3rem;
  padding-block: 1.2rem;
  padding-inline: clamp(0.6rem, 0.314rem + 0.762vw, 1rem);
}
.product .product__inner .product__detail .product__name {
  font-size: clamp(1.3rem, 1.086rem + 0.571vw, 1.6rem);
  font-weight: 700;
  text-align: left;
}
.product .product__inner .product__detail .product__price {
  font-size: clamp(1.3rem, 1.086rem + 0.571vw, 1.6rem);
  font-weight: 500;
  text-align: center;
}
.product .product__inner:hover .product__overlay {
  opacity: 1;
  visibility: visible;
}
.product .product__inner:hover .product__overlay .btn {
  transform: translateY(0);
}
.product .product__inner .product__label {
  border-radius: 4px;
  padding: 10px 18px;
  font-size: clamp(1.4rem, 1.257rem + 0.381vw, 1.6rem);
}
.product .product__inner .product-label__wrapper {
  position: absolute;
  top: calc(clamp(0.6rem, 0.314rem + 0.762vw, 1rem) * 2);
  left: calc(clamp(0.6rem, 0.314rem + 0.762vw, 1rem) * 2);
  right: calc(clamp(0.6rem, 0.314rem + 0.762vw, 1rem) * 2);
}
.product .product__inner .product-label__wrapper .sale__label {
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
}
.product .product__inner .product-label__wrapper .new__label {
  border: 2px solid #333333;
  color: #333333;
}
.product .product__inner .sold-out__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}
.product .product__inner .sold-out__overlay .sold-out__label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
}

.cart-summary .cart-summary__inner {
  background: #ffffff;
  height: fit-content;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}
.cart-summary .cart-summary__inner .form__group .form__input {
  padding-block: 1.4rem;
}
.cart-summary .cart-summary__inner .form__group .apply__btn {
  color: #00c2ff;
  border: 2px solid #00c2ff;
}
.cart-summary .cart-summary__inner .form__group .apply__btn:hover {
  background: #00c2ff !important;
  color: #ffffff;
}
.cart-summary .cart-summary__inner .primary__btn {
  padding-block: 2rem;
}

/* Mobile: with < 740px */
@media only screen and (max-width: 46.1875em) {
  .cart-summary {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .cart-summary .apply__btn {
    flex-grow: 1;
  }
  .toggle-detail {
    display: block !important;
  }
}
/* Tablet: width >= 740px and width < 1024px */
/* Mobile and Tablet: width < 1024px */
/* PC: width >= 1024px */
.cart-summary__product .product__banner {
  width: 60px;
  height: 80px;
}

.user-sidebar {
  min-width: 25rem;
  background: #ffffff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}
.user-sidebar .nav__item .nav__link {
  display: block;
  padding: 22px 20px;
}
.user-sidebar .nav__item:hover {
  background: #d4d4d4;
}

.toggle-filter {
  border-radius: 6px;
  transition: 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  position: relative;
}
.toggle-filter .filter__list {
  position: absolute;
  z-index: 50;
  top: 100%;
  right: 0;
  min-width: 30rem;
  background: #ffffff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0.8rem;
}
.toggle-filter .filter__list .filter__item {
  list-style-type: none;
}
.toggle-filter .filter__list .filter__item .filter__link {
  padding: 1.6rem;
  transition: 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}
.toggle-filter .filter__list .filter__item .filter__link:hover {
  background: #d4d4d4;
}
.toggle-filter:hover {
  background: #d4d4d4;
}

.order__item .order__banner {
  width: clamp(6rem, 4.571rem + 3.81vw, 8rem);
  height: clamp(8rem, 6.571rem + 3.81vw, 10rem);
}
.order__item .order__price {
  margin-bottom: 1.2rem;
}
.order__item .btn {
  margin: 0 !important;
}

.admin__header .header__icon {
  background: #ffffff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  width: 4.5rem;
  height: 4.5rem;
}
.admin__header .header__searchbar {
  max-width: 60rem;
  flex-grow: 1;
}
.admin__header .header__searchbar .search__form {
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  border-radius: 50px;
}
.admin__header .header__searchbar .search__form .form__input {
  padding-block: 1.4rem;
  padding-inline: 2rem;
  background: none;
  justify-content: space-between;
  align-items: center;
  transition: 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}
.admin__header .header__searchbar .search__form .form__input:hover, .admin__header .header__searchbar .search__form .form__input:focus {
  background: none;
  border: none;
  box-shadow: none;
}
.admin__header .admin__subnav {
  min-width: 30rem;
  background: #ffffff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 200;
}
.admin__header .admin__subnav .subnav__item {
  transition: 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateY(1rem);
}
.admin__header .admin__subnav .subnav__item .nav__link {
  padding: 1.6rem 2rem;
}
.admin__header .admin__subnav .subnav__item .nav__link .noti {
  width: 20px;
  height: 20px;
  background: #dd3232;
  color: #ffffff;
  font-size: 1.2rem;
}
.admin__header .admin__subnav .subnav__item .nav__link:hover {
  background: #d4d4d4;
}
.admin__header .admin__subnav .subnav__item .search__form {
  padding: 1.6rem 2rem;
}
.admin__header .admin__subnav .subnav__item .form__input {
  background: none;
  border: none;
  padding: 0;
}
.admin__header .admin__subnav .subnav__item .form__input:hover, .admin__header .admin__subnav .subnav__item .form__input:focus {
  background: none;
  border: none;
  box-shadow: none;
}
.admin__header .admin__subnav .admin__avt {
  width: 4.5rem;
  height: 4.5rem;
}
.admin__header .admin__subnav.active {
  opacity: 1;
  visibility: visible;
}
.admin__header .admin__subnav.active .subnav__item {
  transform: translateY(0);
}

/* Mobile: with < 740px */
/* Tablet: width >= 740px and width < 1024px */
/* Mobile and Tablet: width < 1024px */
@media only screen and (max-width: 63.9375em) {
  .header__searchbar {
    display: none !important;
  }
}
/* PC: width >= 1024px */
.order__item .order__banner {
  width: 5rem;
  height: 7rem;
}

.admin-product__item .admin-product__banner {
  width: clamp(8rem, 6.571rem + 3.81vw, 10rem);
  height: clamp(10rem, 8.214rem + 4.762vw, 12.5rem);
}
.admin-product__item .admin-product__banner img {
  width: 100%;
  height: auto;
}
.admin-product__item .more__btn {
  display: none;
}
.admin-product__item .product-function__mininav {
  top: 100%;
  right: 0;
  width: 25rem;
  transition: 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 0;
  visibility: hidden;
}
.admin-product__item .product-function__mininav .nav__item {
  color: #333333;
  font-weight: 500;
  transform: translateY(1rem);
}
.admin-product__item .product-function__mininav .nav__item .nav__link {
  padding: 1.6rem 2rem;
}
.admin-product__item .product-function__mininav .nav__item .nav__link:hover {
  background: #d4d4d4;
}
.admin-product__item .product-function__mininav.active {
  opacity: 1;
  visibility: visible;
}
.admin-product__item .product-function__mininav.active .nav__item {
  transform: translateY(0);
}

/* Mobile: with < 740px */
/* Tablet: width >= 740px and width < 1024px */
/* Mobile and Tablet: width < 1024px */
@media only screen and (max-width: 63.9375em) {
  .product__info--updatedate {
    display: none !important;
  }
  .product-function__nav {
    display: none !important;
  }
  .more__btn {
    display: block !important;
  }
}
/* PC: width >= 1024px */
.customer__item .customer__avt {
  width: 5rem;
  height: 5rem;
}
.customer__item .customer-detail__nav {
  overflow: hidden;
  min-width: 28rem;
  top: 50%;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}
.customer__item .customer-detail__nav .nav__item {
  transform: translateY(1.2rem);
  padding: 1.6rem 2rem;
}
.customer__item .customer-detail__nav .nav__item:hover {
  background: #d4d4d4;
}
.customer__item .customer-detail__nav.active {
  opacity: 1;
  visibility: visible;
}
.customer__item .customer-detail__nav.active .nav__item {
  transform: translateY(0);
}

.admin__form .form__group .form__input {
  width: 100%;
}
.admin__form .form__group .addNewOption__btn {
  background: #6b7280;
  color: #ffffff;
}
.admin__form .image-uploader .image-uploader--panel .img__box--item {
  position: relative;
  width: clamp(4.5rem, 2rem + 6.667vw, 8rem);
  height: clamp(4.5rem, 2rem + 6.667vw, 8rem);
}
.admin__form .image-uploader .image-uploader--panel .img__box--item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.admin__form .image-uploader .image-uploader--panel .img__box--item .delete__btn {
  top: 0.4rem;
  right: 0.4rem;
  color: #dd3232;
}
.admin__form .image-uploader .image-uploader--panel .uploader__btns .primary__btn {
  background: rgba(0, 195, 255, 0.2);
  color: #00c2ff;
}
.admin__form .image-uploader .image-uploader--panel .uploader__btns .alert__btn {
  background: rgba(221, 50, 50, 0.2);
  color: #dd3232;
}

.header {
  width: 100%;
  height: 8rem;
  padding-inline: clamp(1.5rem, -1.714rem + 8.571vw, 6rem);
  background: #ffffff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 80;
  transition: 0.2s linear;
}
.header .header__inner {
  width: 100%;
  height: 100%;
}
.header .header__inner .header__nav .user__nav {
  position: absolute;
  width: max-content;
  min-width: 20rem;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  top: 8rem;
  right: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s linear;
}
.header .header__inner .header__nav .user__nav ul {
  background: #ffffff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  transform: translateY(-100%);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  transition: 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}
.header .header__inner .header__nav .user__nav ul .nav__item {
  padding: 1.4rem 2rem;
}
.header .header__inner .header__nav .user__nav ul .nav__item .nav__link {
  color: #333333;
  text-transform: none;
  line-height: 3.2rem;
  padding: 0 !important;
}
.header .header__inner .header__nav .user__nav ul .nav__item:hover {
  background: #dddddd;
}
.header .header__inner .logo {
  color: #333333;
  font-size: 3.2rem;
  font-weight: 800;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
.header .header__inner .nav__item {
  list-style-type: none;
  transition: 0.2s linear;
}
.header .header__inner .nav__item .search__form__wrapper {
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}
.header .header__inner .nav__item .search__form__wrapper .search__form {
  position: absolute;
  top: 80px;
  right: 0;
  min-width: 300px;
  border-radius: 4px;
  background: #f5f5f5;
  transform: translateY(-100%);
  transition: 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}
.header .header__inner .nav__item .search__form__wrapper .search__form .form__input {
  padding: 12px 20px;
}
.header .header__inner .nav__item .search__form__wrapper .search__form .search__btn {
  transform: translateX(-10px);
  transition: 0.2s linear;
  cursor: pointer;
}
.header .header__inner .nav__item .search__form__wrapper .search__form #search-result {
  top: 45px;
  right: 0;
  left: 0;
}
.header .header__inner .nav__item .search__form__wrapper .search__form #search-result .search__product .product__banner {
  min-width: 5rem;
  min-height: 7rem;
}
.header .header__inner .nav__item .search__form__wrapper .search__form #search-result .search__product .product__name {
  line-height: unset;
}
.header .header__inner .nav__item:hover .user__nav {
  opacity: 1;
  visibility: visible;
}
.header .header__inner .nav__item:hover .user__nav ul {
  transform: translateY(0);
}
.header .header__inner .nav__item .search__form__wrapper.active {
  opacity: 1;
  visibility: visible;
}
.header .header__inner .nav__item .search__form__wrapper.active .search__form {
  transform: translateY(0);
}
.header .header__inner .nav__item .header__subnav {
  position: absolute;
  background: #ffffff;
  top: 100%;
  left: 0;
  right: 0;
  padding: 30px;
  transition: 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  align-items: start;
  opacity: 0;
  visibility: hidden;
}
.header .header__inner .nav__item .header__subnav .nav__item {
  min-width: 300px;
  overflow: hidden;
}
.header .header__inner .nav__item .header__subnav .nav__item ul {
  transition: 0.2s linear;
  transform: translateY(20px);
}
.header .header__inner .nav__item .header__subnav .nav__item ul .nav__item {
  transition: 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}
.header .header__inner .nav__item .header__subnav .nav__item ul .nav__item:hover {
  transform: translateX(1rem);
}
.header .header__inner .nav__item .header__subnav .nav__item .sub-title {
  margin-bottom: 22px;
}
.header .header__inner .nav__item .header__subnav .nav__item .nav__link {
  line-height: 36px;
  text-transform: none;
  padding: 0;
}
.header .header__inner .nav__item .nav__link {
  font-size: 1.6rem;
  color: #333333;
  font-weight: 500;
  line-height: 80px;
  text-decoration: none;
  text-transform: uppercase;
  padding-inline: 1.5rem;
  transition: 0.2s linear;
}
.header .header__inner .nav__item .nav__link:hover {
  color: #999999;
}
.header .header__inner .nav__item:hover > .header__subnav {
  opacity: 1;
  visibility: visible;
}
.header .header__inner .nav__item:hover > .header__subnav .nav__item ul {
  transform: translateY(0);
}
.header .header__inner .open__btn {
  color: #333333 !important;
  display: none;
  font-size: 1.6rem;
}

.home-page.header {
  background: none;
}
.home-page.header .logo {
  color: #ffffff;
}
.home-page.header .header__nav .nav__link {
  color: #ffffff;
}
.home-page.header .header__nav .header__subnav .nav__link {
  color: #333333 !important;
}

.header.scrolled {
  background: rgba(0, 0, 0, 0.6);
}

.search__form {
  display: flex;
}
.search__form .form__input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 0;
}

.respon__nav {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 60%;
  background: #ffffff;
  z-index: 100;
  opacity: 0;
  transition: 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateX(100%);
}
.respon__nav .nav__item {
  padding: 20px;
  border-bottom: 1px solid #dddddd;
}
.respon__nav .nav__item .nav__link {
  display: block;
  transition: 0.2s linear;
}
.respon__nav .nav__item .nav__link:hover {
  opacity: 0.6;
}

.respon__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(36, 35, 32, 0.5);
  backdrop-filter: blur(4px);
  z-index: 90;
  opacity: 0;
  visibility: hidden;
}

.footer {
  background: #ffffff;
  padding-block: clamp(3rem, 0.857rem + 5.714vw, 6rem);
  padding-inline: clamp(1rem, -2.571rem + 9.524vw, 6rem);
}
.footer .footer__top .logo img {
  max-width: 5.5rem;
}
.footer .footer__top .email__form .form__input {
  width: 100% !important;
}
.footer .footer__top .col-4 {
  flex-basis: 300px;
}
.footer .footer__top .footer-nav .footer-nav__title {
  color: #333333;
}
.footer .footer__bottom .nav__item {
  color: #333333;
  transition: 0.2s linear;
}
.footer .footer__bottom .nav__item:hover {
  opacity: 0.6;
}

@media only screen and (max-width: 46.1875em) {
  .footer * {
    align-items: center;
    flex-grow: 1;
  }
}
/* Tablet: width >= 740px and width < 1024px */
/* Mobile and Tablet: width < 1024px */
/* PC: width >= 1024px */
.slider__container {
  min-width: 100%;
  height: 530px !important;
  position: relative;
  overflow: hidden;
}
.slider__container .slider__main {
  height: 100%;
  display: flex;
  position: relative;
  transition: 0.25s ease-in-out;
}
.slider__container .slider__main .slider__item {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
  position: relative;
  transition: 0.2s linear;
  background-size: cover;
  background-position: center center;
}
.slider__container .slider__main .slider__item .banner__btn {
  margin: 0 auto;
}
.slider__container .slider__btn {
  position: absolute;
  top: 50%;
  font-size: 2em;
  color: #00c2ff;
  cursor: pointer;
}
.slider__container .prev__btn {
  left: 60px;
}
.slider__container .next__btn {
  right: 60px;
}

.tab__container .tabs {
  position: relative;
}
.tab__container .tabs .tab__item {
  font-size: clamp(1.6rem, 1.314rem + 0.762vw, 2rem);
  font-weight: 600;
  line-height: 5rem;
  letter-spacing: 0.02em;
  text-align: left;
  color: #333333;
  cursor: pointer;
}
.tab__container .tabs .tab__line {
  background-color: #666666;
  position: absolute;
  height: 2px;
  border-radius: 5px;
  transition: 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}
.tab__container .panels .panel__item {
  width: 100%;
  display: none;
  text-align: center;
}
.tab__container .panels .panel__item.active {
  display: block;
}
.tab__container .panels .seemore__btn {
  flex-grow: 0 !important;
}

.help-banner {
  height: 300px;
  flex-shrink: 0;
  position: relative;
}
.help-banner .row {
  justify-content: center;
  gap: 8px;
}
.help-banner .row .btn {
  border-radius: 0;
  font-weight: 700;
  padding-inline: 24px;
  padding-block: 18px;
  font-size: clamp(1rem, 0.822rem + 0.541vw, 1.6rem);
}
.help-banner .row .help__btn {
  background: #00c2ff;
  color: #ffffff;
}
.help-banner .row .order__btn {
  background: #ffffff;
  color: #333333;
}

.pre-built__section .pre-built__main {
  gap: 12px;
}
.pre-built__section .pre-built__main .pre-built__banner {
  aspect-ratio: 3/2;
  flex-basis: 600px;
}
.pre-built__section .pre-built__main .col-2 .name {
  color: #333333;
  line-height: 3.2rem;
}
.pre-built__section .pre-built__main .col-2 .price {
  line-height: 3.2rem;
}
.pre-built__section .pre-built__main .col-2 .v-nav .nav__item {
  line-height: 3.2rem;
}

.waitlist__section .waitlist__main .waitlist__banner {
  aspect-ratio: 3/2;
  flex-basis: 600px;
}
.waitlist__section .waitlist__main .waitlist__content .body-text2 {
  line-height: 2.4rem;
}

.partner__section .partner__main .common-banner {
  aspect-ratio: 1;
  flex-basis: 200px;
  padding: 10px;
}

/* Mobile: with < 740px */
@media only screen and (max-width: 46.1875em) {
  .respon__nav {
    left: 0;
  }
  .slider__btn.prev__btn {
    left: 30px;
  }
  .slider__btn.next__btn {
    right: 30px;
  }
}
/* Tablet: width >= 740px and width < 1024px */
/* Mobile and Tablet: width < 1024px */
@media only screen and (max-width: 63.9375em) {
  .open__btn {
    display: block !important;
  }
  .header__nav {
    display: none !important;
  }
  .partner__main,
  .collections__main,
  .product__wrapper {
    justify-content: center !important;
  }
  .col-2 {
    flex-grow: 1;
  }
}
/* PC: width >= 1024px */
.all-product__section .product-main__wrapper {
  position: relative;
  z-index: 10;
}
.all-product__section .product-main__wrapper .main__inner {
  padding-block: 3rem;
  padding-inline: clamp(1rem, 0.286rem + 1.905vw, 2rem);
  background: #ffffff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}
.all-product__section .product-main__wrapper .main__inner .filter__nav {
  justify-content: end;
  flex-grow: 1;
}
.all-product__section .product-main__wrapper .main__inner .filter__nav .product__filter .filter__label {
  font-weight: 500;
  color: #333333;
}
.all-product__section .product-main__wrapper .main__inner .product__section .product__sidebar {
  width: 280px;
  align-items: flex-start;
  align-self: stretch;
}
.all-product__section .product-main__wrapper .main__inner .product__section .product__sidebar .sidebar-nav__title {
  margin-bottom: 12px;
}
.all-product__section .product-main__wrapper .main__inner .product__section .product__sidebar .product-sidebar__nav {
  width: 100%;
}
.all-product__section .product-main__wrapper .main__inner .product__section .product__sidebar .product-sidebar__nav .nav__item {
  padding-block: 18px;
  display: flex;
  justify-content: space-between;
}
.all-product__section .product-main__wrapper .main__inner .product__section .product__sidebar .product-sidebar__nav .nav__item:hover > .nav__link {
  transform: translateX(10px);
}
.all-product__section .product-main__wrapper .main__inner .product__section .product__sidebar .sidebar__banner {
  position: relative;
  width: 100%;
  height: 54.5rem;
  background: url("/app/views/assets/images/banner6.webp") no-repeat center/cover;
}
.all-product__section .product-main__wrapper .main__inner .product__section .product__sidebar .sidebar__banner .text__center {
  text-align: left;
  width: min-content !important;
}
.all-product__section .product-main__wrapper .main__inner .product__section .product__sidebar .sidebar__banner .text__center .text-center__spotlight {
  font-size: clamp(2rem, 0.429rem + 4.19vw, 4.2rem);
}
.all-product__section .product-main__wrapper .main__inner .product__section .product__sidebar .sidebar__banner .text__center .banner__btn {
  padding-inline: 0;
  width: 100%;
  text-align: center;
}
.all-product__section .product-main__wrapper .main__inner .product__section .product__wrapper {
  max-width: calc(100% - 2rem - 28rem);
  align-content: flex-start;
  gap: 0 !important;
}
.all-product__section .product-main__wrapper .main__inner .product__section .product__wrapper .product .product__inner {
  height: fit-content;
  overflow: auto;
}

.dropdown-select {
  position: relative;
}
.dropdown-select .toggle__select {
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}
.dropdown-select .select-option__list {
  position: absolute;
  top: 4.8rem;
  left: 0;
  background: #ffffff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  z-index: 50;
}
.dropdown-select .select__option {
  width: 28rem;
  padding: 1.6rem 2rem;
  border-radius: 0.4rem;
  justify-content: space-between;
  align-items: center;
  background: #f5f5f5;
  transition: 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  color: #333333;
  text-decoration: none;
  list-style-type: none;
}
.dropdown-select .select__option:hover {
  background: #d4d4d4;
}
.dropdown-select .selected {
  background: #d4d4d4;
}

/* Mobile: with < 740px */
/* Tablet: width >= 740px and width < 1024px */
/* Mobile and Tablet: width < 1024px */
@media only screen and (max-width: 63.9375em) {
  .product__section {
    flex-direction: column-reverse;
  }
  .product__section .product__sidebar {
    width: 100% !important;
  }
  .product__section .product__wrapper {
    max-width: unset !important;
    width: 100%;
    justify-content: center;
  }
}
/* PC: width >= 1024px */
.product-detail-section {
  padding-inline: clamp(1.2rem, -12.229rem + 35.81vw, 20rem) !important;
}
.product-detail-section .detail__wrapper .detail__gallery {
  aspect-ratio: 1;
  min-width: 300px;
}
.product-detail-section .detail__wrapper .detail__gallery .gallery__main {
  aspect-ratio: 1;
}
.product-detail-section .detail__wrapper .detail__gallery .gallery__main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-detail-section .detail__wrapper .detail__gallery .gallery__item__wrapper .gallery__item {
  padding: 10px 5px;
}
.product-detail-section .detail__wrapper .detail__gallery .gallery__item__wrapper .gallery__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-detail-section .detail__wrapper .product-detail .product__name {
  color: #333333;
  font-size: 2.5rem;
  font-weight: 600;
}
.product-detail-section .detail__wrapper .product-detail .product__price {
  color: #00c2ff;
  font-size: 2.8rem;
  font-weight: 700;
}
.product-detail-section .detail__wrapper .product-detail .product__status {
  font-size: 1.6rem;
  font-weight: 600;
}
.product-detail-section .detail__wrapper .product-detail .product__status--instock {
  color: #00c2ff;
}
.product-detail-section .detail__wrapper .product-detail .product__status--soldout {
  color: #dd3232;
}
.product-detail-section .detail__wrapper .product-detail .product__specs .specs__item {
  line-height: 2.6rem;
}
.product-detail-section .detail__wrapper .product-detail .product__option .label {
  color: #333333;
}
.product-detail-section .detail__wrapper .product-detail .product__option .dropdown-select .select__option {
  width: 100% !important;
}
.product-detail-section .detail__wrapper .product-detail .product__detail__content .product__qty__input {
  width: fit-content;
  border: 1px solid #dddddd;
}
.product-detail-section .detail__wrapper .product-detail .product__detail__content .product__qty__input .qty__input {
  border: none;
  outline: none;
  text-align: center;
}
.product-detail-section .detail__wrapper .product-detail .product__detail__content .product__qty__input .btn {
  color: #333333;
}
.product-detail-section .detail__wrapper .product-detail .waitlist__form .label {
  color: #6b7280;
}
.product-detail-section .detail__wrapper .product-detail .waitlist__form .form__group .form__input {
  padding-block: 1.6rem;
}

.product-description__section .description-item__container {
  padding: 2rem;
  background: #ffffff;
  border-radius: 12px;
}
.product-description__section .description-item__container .description__banner {
  aspect-ratio: 4/3;
}
.product-description__section .description-item__container .description__banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-description__section .description-item__container .description__title {
  color: #333333;
  font-size: clamp(1.6rem, 1.171rem + 1.143vw, 2.2rem);
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.2rem;
  letter-spacing: 0.44px;
}
.product-description__section .description-item__container .description-content__wrapper {
  width: fit-content;
}

.message-overlay {
  position: fixed;
  inset: 0;
  background: rgba(51, 51, 51, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateY(-100%);
}
.message-overlay .log-in__form {
  max-width: 40rem;
  transition: 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}
.message-overlay .log-in__form .form__group,
.message-overlay .log-in__form .form__input {
  width: 100%;
}
.message-overlay .log-in__form .form__label {
  margin-bottom: 0.8rem;
}

.message-overlay.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.customer-review__section .comment__form .form__group {
  border-bottom: 1px solid transparent;
}
.customer-review__section .comment__form .form__group:hover {
  border-bottom: 1px solid #ced4da;
}
.customer-review__section .comment__form .form__group:focus {
  border-bottom: 2px solid #ced4da !important;
}
.customer-review__section .comment__form .form__group .send__btn:hover {
  color: #1f2937;
}
.customer-review__section .comment__form .form__group .form__input {
  border-color: transparent !important;
  padding-inline-start: 0;
}
.customer-review__section .comment__form .form__group .form__input:hover, .customer-review__section .comment__form .form__group .form__input:focus {
  box-shadow: none !important;
}
.customer-review__section .customer__reviews .customer-review__item .avt {
  width: 50px;
  height: 50px;
}
.customer-review__section .customer__reviews .customer-review__item .avt img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.customer-review__section .customer__reviews .customer-review__item .review-product__name {
  color: #6b7280;
}
.customer-review__section .customer__reviews .customer-review__item .customer__info .verified__label {
  display: flex;
  padding: 6px 12px;
  background: #333333;
  align-items: flex-start;
  gap: 10px;
  color: #ffffff;
}
.customer-review__section .customer__reviews .customer-review__item .customer__info .stars {
  color: #ffc107;
}
.customer-review__section .customer__reviews .customer-review__item .customer__review__pictures .gallery__item {
  width: 15%;
  aspect-ratio: 1;
}
.customer-review__section .customer__reviews .customer-review__item .customer__review__pictures .gallery__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Mobile: with < 740px */
/* Tablet: width >= 740px and width < 1024px */
/* Mobile and Tablet: width < 1024px */
@media only screen and (max-width: 63.9375em) {
  .product-detail-section .detail__gallery {
    min-width: unset;
  }
  .product-detail-section .detail__gallery .gallery__item__wrapper {
    flex-wrap: nowrap;
  }
  .product-detail-section .detail__gallery .gallery__item__wrapper .gallery__item {
    flex-grow: 1;
    aspect-ratio: 1;
  }
  .product-description__section .description-item__container {
    flex-wrap: wrap;
  }
}
/* PC: width >= 1024px */
.cart__section .cart-product__wrapper {
  width: 70%;
  padding: clamp(1rem, -0.429rem + 3.81vw, 3rem);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart__section .cart-product__wrapper .cart__product {
  padding-block: 16px;
}
.cart__section .cart-product__wrapper .cart__product .cart-product__banner {
  width: clamp(8rem, 3.714rem + 11.429vw, 14rem);
  height: clamp(10rem, 4.643rem + 14.286vw, 17.5rem);
}
.cart__section .cart-product__wrapper .cart__product .cart-product__name {
  color: #333333;
  font-size: clamp(1.3rem, 0.8rem + 1.333vw, 2rem);
  font-weight: 400;
  letter-spacing: 0.05rem;
}
.cart__section .cart-product__wrapper .cart__product .cart-product__price {
  color: #333333;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
}
.cart__section .cart-product__wrapper .cart__product .cart-product__btn {
  color: #333333;
  font-size: 2rem;
}
.cart__section .cart-product__wrapper .cart__product .cart-product__input {
  outline: none;
  border: none;
  text-align: center;
  width: 5rem;
}
.cart__section .cart-product__wrapper .cart-empty__announce {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cart__section .cart-product__wrapper .cart-empty__announce .announce__text {
  color: #333333;
  font-size: clamp(2rem, 0.571rem + 3.81vw, 4rem);
  font-weight: 600;
  letter-spacing: 1px;
}
.cart__section .cart-product__wrapper .cart-empty__announce .solid__btn {
  background: #333333;
  width: fit-content;
  font-weight: 600;
}
.cart__section .cart__summary {
  background: #ffffff;
  height: fit-content;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}
.cart__section .cart__summary .summary__wrapper .summary__title {
  color: #333333;
  font-size: 1.8rem;
  font-weight: 700;
}
.cart__section .cart__summary .summary__wrapper .summary__price,
.cart__section .cart__summary .summary__wrapper .summary__total__price {
  color: #333333;
  font-weight: 600;
}
.cart__section .cart__summary .summary__wrapper .coupon {
  color: #00c2ff;
}
.cart__section .cart__summary .summary__wrapper .coupon i {
  transition: 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}
.cart__section .cart__summary .summary__wrapper .coupon:hover i {
  transform: translateX(1rem);
}

/* Mobile: with < 740px */
/* Tablet: width >= 740px and width < 1024px */
/* Mobile and Tablet: width < 1024px */
/* PC: width >= 1024px */
.bill-info__form .bill-info__body {
  width: 65%;
  background: #ffffff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}
.bill-info__form .bill-info__body .form__group {
  display: flex;
  flex-direction: column;
}
.bill-info__form .bill-info__body .shipping__options {
  color: #333333;
}
.bill-info__form .bill-info__body .shipping__options .shipping__option {
  padding: 16px 20px;
  border: 1px solid #ced4da;
  gap: 12px;
  align-self: stretch;
  border-radius: 4px;
}
.bill-info__form .bill-info__body .shipping__options .shipping__option:hover {
  background: #f5f5f5;
}
.bill-info__form .bill-info__body .shipping__options .shipping__option.active .option__btn {
  color: #00c2ff;
}

.shipping__option.active .option-btn {
  color: var(--maincolor);
}

.shipping__option.active .fa-circle {
  display: none;
}

.shipping__option:is(:not(.shipping__option.active)) .fa-circle-check {
  display: none;
}

.payment-main__body .payment-method {
  padding: 16px 20px;
  border: 1px solid #ced4da;
  align-self: stretch;
}

.payment-method.active .option__btn {
  color: #00c2ff;
}

.payment-method.active .fa-circle {
  display: none;
}

.payment-method:is(:not(.payment-method.active)) .fa-circle-check {
  display: none;
}

.confirm__main {
  position: relative;
  background: #ffffff;
}

.form__section {
  position: relative;
  z-index: 1;
  padding-top: clamp(4rem, -0.286rem + 11.429vw, 10rem);
  padding-bottom: 6rem;
}
.form__section .form__wrapper .form {
  padding: 20px;
  width: clamp(30rem, 15.714rem + 38.095vw, 50rem);
  width: fit-content;
  background: #ffffff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}
.form__section .form__wrapper .form .form__group {
  position: relative;
}
.form__section .form__wrapper .form .form__group .form__label {
  position: absolute;
  top: 2.4rem;
  left: 2rem;
}
.form__section .form__wrapper .form .form__group .form__input {
  width: 100%;
  border-color: transparent;
  border-bottom-color: #00c2ff;
  background: none;
}
.form__section .form__wrapper .form .form__group .form__input:hover, .form__section .form__wrapper .form .form__group .form__input:focus {
  border-color: #00c2ff;
}
.form__section .form__wrapper .form .form__group .toggle-password {
  right: 2rem;
  top: 2.4rem;
  color: #495057;
  transition: 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
}
.form__section .form__wrapper .form .form__group .toggle-password:hover {
  color: #4b5563;
}
.form__section .form__wrapper .form .forgot-password {
  position: relative;
}
.form__section .form__wrapper .form .forgot-password::before {
  content: "";
  position: absolute;
  width: clamp(5rem, 1.429rem + 9.524vw, 10rem);
  height: 0.1rem;
  background: #e1e1e1;
  top: 50%;
  left: 105%;
}
.form__section .form__wrapper .form .forgot-password::after {
  content: "";
  position: absolute;
  width: clamp(5rem, 1.429rem + 9.524vw, 10rem);
  height: 0.1rem;
  background: #e1e1e1;
  top: 50%;
  right: 105%;
}
.form__section .form__wrapper .form .form__group > input:not(:placeholder-shown) + label,
.form__section .form__wrapper .form .form__group > input:focus + label {
  top: -1rem;
  left: 1rem;
  color: #00c2ff;
  padding-inline: 1rem;
  background: #ffffff;
}
.form__section .form__wrapper .form .smb {
  font-size: clamp(1.2rem, 0.914rem + 0.762vw, 1.6rem);
}

.user__section {
  padding-top: clamp(4rem, -0.286rem + 11.429vw, 10rem);
  padding-bottom: 6rem;
  padding-inline: clamp(2rem, -10.857rem + 34.286vw, 20rem) !important;
  position: relative;
  z-index: 1;
}
.user__section .user-section__main .user-info__top {
  background: #ffffff;
  align-self: stretch;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}
.user__section .user-section__main .user-info__top .user__avt {
  width: clamp(3.5rem, 2.429rem + 2.857vw, 5rem);
  aspect-ratio: 1;
}
.user__section .user-section__main .user-info__top .user__detail {
  font-size: clamp(1.3rem, 1.086rem + 0.571vw, 1.6rem);
}
.user__section .user-section__main .user-info__body {
  flex-wrap: wrap-reverse;
}
.user__section .user-section__main .user-info__body .user-form {
  width: 70% !important;
  background: #ffffff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  height: fit-content;
}
.user__section .user-section__main .user-info__body .user-form .form__group .form__input {
  width: 100%;
}

/* Mobile: with < 740px */
/* Tablet: width >= 740px and width < 1024px */
/* Mobile and Tablet: width < 1024px */
@media only screen and (max-width: 63.9375em) {
  .btn {
    flex-grow: 1;
    margin-top: 12px;
  }
}
/* PC: width >= 1024px */
.user-profile-form .avt__uploader .user__avt {
  height: clamp(4rem, 2.571rem + 3.81vw, 6rem);
  aspect-ratio: 1;
}

.billing-main {
  background: #ffffff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  width: 60% !important;
}

.user-social-form .body-text3 {
  margin-top: 12px;
}
.user-social-form .social__btn {
  width: fit-content;
  gap: 12px;
  font-weight: 600;
  font-size: clamp(1.2rem, 1.057rem + 0.381vw, 1.4rem);
}
.user-social-form .twitter__btn {
  background: #1DA1F2;
}
.user-social-form .facebook__btn {
  background: #1F7BF2;
}

.contact__section {
  padding-block: clamp(2rem, -0.857rem + 7.619vw, 6rem);
}

.contact__main .contact-text__title .contact-text__group {
  gap: clamp(1rem, -0.429rem + 3.81vw, 3rem);
}
.contact__main .contact-text__title .primary-text {
  font-size: clamp(3rem, -2rem + 13.333vw, 10rem);
  white-space: nowrap;
  line-height: clamp(4.2rem, -1.371rem + 14.857vw, 12rem);
}
.contact__main .contact-text__subtext {
  max-width: 50rem;
  line-height: 2rem;
  font-size: clamp(1.3rem, 1.086rem + 0.571vw, 1.6rem);
}
.contact__main .contact__form {
  width: fit-content;
  background: #ffffff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}
.contact__main .contact__form .form__group .form__input {
  width: 100%;
  background: none;
  border: 1px solid transparent;
}

.about-us {
  background: #ffffff !important;
}
.about-us .about-us__container {
  padding-block: clamp(2rem, -0.857rem + 7.619vw, 6rem);
}
.about-us .about-us__container .about-us__title {
  text-align: left;
  color: #6b7280;
}
.about-us .about-us__container .about-us__main .about-us__section {
  gap: clamp(3rem, -2rem + 13.333vw, 10rem);
  padding-block: clamp(3rem, 0.857rem + 5.714vw, 6rem);
}
.about-us .about-us__container .about-us__main .about-us__section .section__title {
  font-size: clamp(2.2rem, 0.343rem + 4.952vw, 4.8rem);
  max-width: 75rem;
}
.about-us .about-us__container .about-us__main .about-us__section .body-text2 {
  max-width: 50rem;
  line-height: 2.2rem;
  display: block;
}
.about-us .about-us__container .about-us__main .about-us__section .guarentee-item__wrapper {
  max-width: 130rem;
}
.about-us .about-us__container .about-us__main .about-us__section .guarentee-item__wrapper .guarentee__item {
  padding-block: clamp(3rem, 0.857rem + 5.714vw, 6rem);
  border-bottom: 1px solid #dbe4e9;
}
.about-us .about-us__container .about-us__main .about-us__section .guarentee-item__wrapper .guarentee__item .guarentee__title {
  color: #6b7280 !important;
}
.about-us .about-us__container .about-us__main .about-us__section .author__card {
  background: #6b7280;
  padding-top: 10rem;
}
.about-us .about-us__container .about-us__main .about-us__section .author__card .author-card__inner {
  position: relative;
  background: rgba(255, 255, 255, 0.4);
}
.about-us .about-us__container .about-us__main .about-us__section .author__card .author-card__inner .author__avt {
  width: clamp(5rem, 2.857rem + 5.714vw, 8rem);
  aspect-ratio: 1;
  position: absolute;
  top: -15%;
}
.about-us .about-us__container .about-us__main .about-us__section .author__card .author-card__inner .author__name {
  font-size: clamp(1.6rem, 1.029rem + 1.524vw, 2.4rem);
  color: #ffffff;
}
.about-us .about-us__container .about-us__main .about-us__section .author__card .author-card__inner .text {
  color: #ffffff;
  max-width: 20rem;
}

.admin__panel {
  min-height: 100vh;
}
.admin__panel .admin__greeting {
  color: #333333;
}
.admin__panel .admin__main .admin__box {
  background: #ffffff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}
.admin__panel .admin__main .admin__box--icon {
  color: #00c2ff;
}
.admin__panel .admin__main .admin__box .admin__box--hightlight-text {
  color: var(--light-text-color, #333);
  font-size: clamp(3rem, 2.286rem + 1.905vw, 4rem);
  font-weight: 700;
  text-align: center;
}

/* Mobile: with < 740px */
/* Tablet: width >= 740px and width < 1024px */
/* Mobile and Tablet: width < 1024px */
/* PC: width >= 1024px */
.admin__main {
  flex-wrap: wrap-reverse !important;
}

.admin__panel .add-product__bar .add-product__btn {
  background: #00c2ff;
  color: #ffffff;
}

.category__main {
  overflow-x: auto;
}
.category__main .category__table th {
  background: #dbe4e9;
  color: #333333;
  font-weight: 600;
  padding: 16px 24px;
}
.category__main .category__table td {
  padding: 16px 24px;
  text-align: center;
  color: #333333;
  font-weight: 500;
  background: #ffffff;
}
.category__main .category__table td .edit__btn {
  color: #00c2ff;
}
.category__main .category__table td .delete__btn {
  color: #dd3232;
}

.update-category__form td .form__input {
  background: none;
  border: none;
  outline: none;
  color: #333333;
  padding: 0;
  width: 100%;
}
.update-category__form td .form__input:hover, .update-category__form td .form__input:focus {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

.error-page {
  min-height: 100vh;
}
.error-page .error-text {
  max-width: 70rem;
}
.error-page .error-text .hightlight-text {
  font-size: clamp(4.5rem, -2.286rem + 18.095vw, 14rem);
  font-weight: 700;
}
.error-page .error-text .primary__btn {
  border: 2px solid #00c2ff;
}
.error-page .common-banner {
  width: 50rem;
  aspect-ratio: 1;
}

.user-info__body .info-box {
  background: #f5f5f5;
}
.user-info__body .bill-product .bill-product__banner {
  width: 10rem;
  height: 14rem;
}

/* Mobile: with < 740px */
/* Tablet: width >= 740px and width < 1024px */
/* Mobile and Tablet: width < 1024px */
/* PC: width >= 1024px */
.col-1 {
  width: 100%;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 33.3333333333%;
}

.col-4 {
  width: 25%;
}

.col-5 {
  width: 20%;
}

.col-6 {
  width: 16.6666666667%;
}

.col-7 {
  width: 14.2857142857%;
}

.col-8 {
  width: 12.5%;
}

.col-9 {
  width: 11.1111111111%;
}

.col-10 {
  width: 10%;
}

.col-11 {
  width: 9.0909090909%;
}

.col-12 {
  width: 8.3333333333%;
}

.db {
  display: block;
}

.dn {
  display: none;
}

.r6 {
  border-radius: 0.6rem;
}

.r8 {
  border-radius: 0.8rem;
}

.r12 {
  border-radius: 1.2rem;
}

.rh {
  border-radius: 50%;
}

.rf {
  border-radius: 100%;
}

.ar1 {
  aspect-ratio: 1;
}

.mb6 {
  margin-bottom: 0.6rem;
}

.mb12 {
  margin-bottom: 1.2rem;
}

.mb20 {
  margin-bottom: 2rem;
}

.mb30 {
  margin-bottom: 3rem;
}

.mb60 {
  margin-bottom: 6rem;
}

.mt6 {
  margin-top: 0.6rem;
}

.mt12 {
  margin-top: 1.2rem;
}

.mt20 {
  margin-top: 2rem;
}

.mt30 {
  margin-top: 3rem;
}

.mt60 {
  margin-top: 6rem;
}

.mt80 {
  margin-top: 8rem;
}

.mt100 {
  margin-top: 10rem;
}

.mr6 {
  margin-right: 0.6rem;
}

.mr12 {
  margin-right: 1.2rem;
}

.mr20 {
  margin-right: 2rem;
}

.ml6 {
  margin-left: 0.6rem;
}

.ml12 {
  margin-left: 1.2rem;
}

.ml20 {
  margin-left: 2rem;
}

.g12 {
  gap: 1.2rem;
}

.g16 {
  gap: 1.6rem;
}

.g2 {
  gap: 0.2rem;
}

.g6 {
  gap: 0.6rem;
}

.g8 {
  gap: 0.8rem;
}

.g20 {
  gap: 2rem;
}

.g30 {
  gap: 3rem;
}

.g60 {
  gap: 6rem;
}

.p10 {
  padding: 1rem;
}

.p12 {
  padding: 1.2rem;
}

.p16 {
  padding: 1.6rem;
}

.p20 {
  padding: 2rem;
}

.p30 {
  padding: 3rem;
}

.p60 {
  padding: 6rem;
}

.pi12 {
  padding-inline: 1.2rem;
}

.pi20 {
  padding-inline: 2rem;
}

.pi24 {
  padding-inline: 2.4rem;
}

.pb12 {
  padding-block: 1.2rem;
}

.pb16 {
  padding-block: 1.6rem;
}

.pb20 {
  padding-block: 2rem;
}

.container-full {
  width: 100%;
  background: #f5f5f5;
  overflow: hidden !important;
  position: relative;
}

.bold {
  font-weight: 700;
  color: #333333;
}

.smb {
  font-weight: 600 !important;
  color: #333333;
}

.md {
  font-weight: 500 !important;
  color: #333333;
}

.rg {
  font-weight: 400 !important;
  color: #333333;
}

.text {
  color: #333333;
  line-height: 2.6rem;
  font-size: clamp(1.3rem, 1.086rem + 0.571vw, 1.6rem);
}

.body-text1 {
  font-size: clamp(1.6rem, 1.314rem + 0.762vw, 2rem);
  font-weight: 400;
  color: #333333;
}

.body-text2 {
  font-size: clamp(1.4rem, 1.257rem + 0.381vw, 1.6rem);
  font-weight: 400;
  color: #333333;
}

.body-text3 {
  font-size: clamp(1rem, 0.786rem + 0.571vw, 1.3rem);
  font-weight: 600;
  color: #333333;
}

.label {
  font-size: clamp(1.4rem, 1.257rem + 0.381vw, 1.6rem);
  font-weight: 500;
  color: #6b7280;
}

.sub-label {
  font-size: clamp(1rem, 0.786rem + 0.571vw, 1.3rem);
  font-weight: 600;
  color: #6b7280;
}

.rc {
  color: #333333 !important;
}

.title {
  color: #333333;
  font-size: clamp(1.8rem, 1.3rem + 1.333vw, 2.5rem);
  font-weight: 600;
  letter-spacing: 0.56px;
  text-align: center;
  line-height: 3rem;
  font-size: clamp(1.8rem, 1.3rem + 1.333vw, 2.5rem);
}

.sub-title {
  font-size: clamp(1.6rem, 1.314rem + 0.762vw, 2rem);
  font-weight: 500;
  color: #666666;
}

.heading-1 {
  font-size: clamp(3.8rem, 3.086rem + 1.905vw, 4.8rem);
  font-weight: 700;
  color: #333333;
}

.heading-2 {
  font-size: clamp(3.2rem, 2.629rem + 1.524vw, 4rem);
  font-weight: 700;
  color: #333333;
}

.heading-3 {
  font-size: clamp(2.4rem, 1.829rem + 1.524vw, 3.2rem);
  font-weight: 500;
  color: #333333;
}

.heading-4 {
  font-size: clamp(1.8rem, 1.3rem + 1.333vw, 2.5rem);
  font-weight: 700;
  color: #333333;
}

.flex {
  display: flex;
}

.j-center {
  justify-content: center;
}

.j-end {
  justify-content: end;
}

.j-start {
  justify-content: start;
}

.center {
  align-items: center;
}

.end {
  align-items: flex-end;
}

.start {
  align-items: flex-start;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.auto-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(min(20em, 100%), 1fr));
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(22em, 100%), 1fr));
}

@media screen and (max-width: 700px) {
  .auto-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 374.98px) {
  .auto-grid {
    grid-template-columns: 1fr;
  }
}
.h-center {
  display: flex;
  justify-content: center;
}

.v-center {
  display: flex;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.full {
  width: 100%;
}

.flex-full {
  display: flex;
  flex-grow: 1;
}

.section {
  padding-block: clamp(3rem, 0.857rem + 5.714vw, 6rem);
  padding-inline: clamp(1rem, -2.571rem + 9.524vw, 6rem);
}

.h-nav {
  display: flex;
}

.v-nav {
  display: flex;
  flex-direction: column;
}

.underline {
  text-decoration: underline;
}

.primary-masking-text {
  background: linear-gradient(63deg, #0054F6 0%, #3FBAFF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.alert-text {
  color: #dd3232 !important;
}

.success-text {
  color: #4fc169 !important;
}

.primary-text {
  color: #00c2ff !important;
}

.accent-text {
  color: #ffc107 !important;
}

.tac {
  text-align: center;
}

.ma {
  margin: auto;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.nav__item {
  list-style-type: none;
  transition: 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav__link {
  text-decoration: none;
  color: #333333;
  font-weight: 400;
  font-size: 1.6rem;
  transition: 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}

.r4 {
  border-radius: 4px;
}

.r6 {
  border-radius: 6px;
}

.r12 {
  border-radius: 12px;
}

.rh {
  border-radius: 50%;
}

.rf {
  border-radius: 100%;
}

.ttu {
  text-transform: uppercase !important;
}

.ttc {
  text-transform: capitalize;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.4rem 2.4rem;
  border-radius: 0.4rem;
  gap: 0.6rem;
  font-size: clamp(1.2rem, 1.057rem + 0.381vw, 1.4rem);
  transition: 0.2s linear;
}
.btn:hover {
  opacity: 0.8;
}

.primary__btn {
  background: #00c2ff;
}

.alert__btn {
  background: #dd3232;
}

.outline__btn {
  border: 2px solid #333333;
  color: #333333;
  transition: 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}
.outline__btn:hover {
  background: #333333 !important;
  color: #ffffff !important;
}

.banner__btn {
  padding: 22px 64px;
  background: rgba(255, 255, 255, 0.4);
  color: #ffffff;
  font-weight: 500;
  border-radius: unset;
}

.text__center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  width: max-content;
}
.text__center .text-center__label {
  color: #ffffff;
  font-size: 2.5rem;
  font-size: clamp(1.5rem, 1.203rem + 0.901vw, 2.5rem);
  font-weight: 700;
}
.text__center .text-center__spotlight {
  color: #ffffff;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 6.2rem;
  font-size: clamp(2rem, 1.168rem + 2.523vw, 4.8rem);
}
.text__center .text-center__origin {
  color: #FFF;
  font-weight: 400;
  line-height: 3.2rem;
  font-size: clamp(1.2rem, 0.914rem + 0.762vw, 1.6rem);
}

.common-banner {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.break-line {
  border: none;
  outline: none;
  height: 0.05rem;
  background: #e1e1e1;
}

form {
  width: 100%;
  gap: 12px;
}
form .form__label {
  color: #333333;
  font-weight: 600;
  margin-bottom: 1.2rem;
  transition: 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}
form .form__input {
  background: #f5f5f5;
  border: 1px solid #ced4da;
  padding: 20px;
  color: #333333 !important;
  border-radius: 5px;
  display: block;
  transition: 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}
form .form__input:is(:not(.form__input.search__input)):focus {
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  border: 0.1rem solid #00c2ff;
}
form .form__input:is(:not(.form__input.search__input)):hover {
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}
form .search__input {
  background: none;
}
form .form__message {
  color: #dd3232;
  font-weight: 600;
  font-size: 1.3rem;
  margin-top: 0.8rem;
}
form .form__btn {
  font-weight: 600;
  outline: none;
  border: none;
}

.invalid .form__input {
  border-color: #dd3232;
}

.oh {
  overflow: hidden;
}

.big-text {
  color: #00c2ff;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  font-size: clamp(10rem, -1.429rem + 30.476vw, 26rem);
  text-transform: uppercase;
  font-weight: 600;
  width: max-content;
}

.required {
  color: #dd3232;
}

.cp {
  cursor: pointer;
}

.common-box {
  background: #ffffff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}

.por {
  position: relative;
}

.poa {
  position: absolute;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10rem;
}

/*# sourceMappingURL=app.css.map */
