<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oops!Somethings went wrong</title>
    <link rel="stylesheet" href="/views/assets/resources/sass/css/app.css">
    <link rel="icon" type="image/x-icon" href="/views/assets/images/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body class="theme-light">
    <div class="container-full error-page">
        <!-- || header start -->
        <header class="header"> 
            <div class="header__inner flex-between">
                <a href="index.php" class="logo flex-center">
                    <img src=" /views/assets/images/logo.svg" alt=""><span>typistial</span>
                </a>
                <nav>
                    <ul class="h-nav header__nav">
                        <li class="nav__item"><a href="" class="nav__link">Trang chủ</a></li>
                        <li class="nav__item">
                            <a href="" class="nav__link toggle-subnav">Sản phẩm</a>
                            <ul class="header__subnav flex-between row g20">
                                <li class="nav__item">
                                    <a href="" class="sub-title nav__link">CATEGORIES</a>
                                    <ul>
                                        <li class="nav__item"><a class="nav__link" href="">IN STOCK</a></li>
                                        <li class="nav__item"><a class="nav__link" href="">KEYBOARDS</a></li>
                                        <li class="nav__item"><a class="nav__link" href="">KITS</a></li>
                                        <li class="nav__item"><a class="nav__link" href="/html/switches.html">SWITCHES</a>
                                        </li>
                                        <li class="nav__item"><a class="nav__link" href="/html/keycaps.html">KEYCAPS</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav__item">
                                    <a href="/html/keycaps.html" class="nav__link sub-title">KEYCAPS</a>
                                    <ul>
                                        <li class="nav__item"><a class="nav__link" href="">GMK DUALSHOT® 2 Keycaps</a></li>
                                        <li class="nav__item"><a class="nav__link" href="">OTC Modo® Light Keycaps</a></li>
                                        <li class="nav__item"><a class="nav__link" href="">GMK Norse Keycap Set</a></li>
                                        <li class="nav__item"><a class="nav__link" href="">GMK 8008 2 Keycap Set</a></li>
                                        <li class="nav__item"><a class="nav__link" href="">OTC 9009 Keycaps</a></li>
                                    </ul>
                                </li>
                                <li class="nav__item">
                                    <a href="/html/kits.html" class="nav__link sub-title">KITS</a>
                                    <ul>
                                        <li class="nav__item"><a class="nav__link" href="">SPR 67 Kit</a></li>
                                        <li class="nav__item"><a class="nav__link" href="">ACR TOP 75 Kit</a></li>
                                        <li class="nav__item"><a class="nav__link" href="">5075S Kit</a></li>
                                        <li class="nav__item"><a class="nav__link" href="">ACR Pro Alice Plus Kit</a></li>
                                        <li class="nav__item"><a class="nav__link" href="">ACR Pro 75 Kit</a></li>
                                    </ul>
                                </li>
                                <li class="nav__item">
                                    <a href="/html/switches.html" class="nav__link sub-title">SWITCHES</a>
                                    <ul>
                                        <li class="nav__item"><a class="nav__link" href="/html/milky-pro.html">Gateron KS-3
                                                Milky Pro Switch Set</a></li>
                                        <li class="nav__item"><a class="nav__link" href="">Gateron Ink V2 Switch Set</a>
                                        </li>
                                        <li class="nav__item"><a class="nav__link" href="">Gateron Cap V2 Switch Set</a>
                                        </li>
                                        <li class="nav__item"><a class="nav__link" href="">Gateron Box CJ Linear Switch
                                                Set</a></li>
                                        <li class="nav__item"><a class="nav__link" href="">Gateron Box Ink V2 Switch Set</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav__item">
                                    <a href="/html/pre-built.html" class="nav__link sub-title">PRE-BUILT
                                        KEYBOARDS</a>
                                    <ul>
                                        <li class="nav__item"><a class="nav__link" href="">IQUNIX OG80 Wormhole Wireless</a>
                                        </li>
                                        <li class="nav__item"><a class="nav__link" href="">IQUNIX L80 Formula Typing
                                                Wireless</a></li>
                                        <li class="nav__item"><a class="nav__link" href="">Keychron Q8 (Alice Layout)
                                                QMK</a></li>
                                        <li class="nav__item"><a class="nav__link" href="">AKKO Black&Cyan 5075B Plus</a>
                                        </li>
                                        <li class="nav__item"><a class="nav__link" href="">AKKO Dracula Castle 5075B
                                                Plus</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav__item"><a href="" class="nav__link">Hổ trợ</a></li>
                        <li class="nav__item"><a href="" class="nav__link">Về chúng tôi</a></li>
                    </ul>
                </nav>
                <nav>
                    <ul class="h-nav header__nav icon__nav">
                        <li class="nav__item" style="position: relative">
                            <a href="" class="nav__link">
                                <i class="fal fa-user"></i>
                            </a>
                            <nav class="user__nav r4">
                                <ul>
                                    <li class="nav__item">
                                        <a href="" class="nav__link">
                                            <i class="fal fa-sign-in"></i> Login
                                        </a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="" class="nav__link">
                                            <i class="fal fa-user-plus"></i> Create account
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </li>
                        <li class="nav__item" style="position: relative">
                            <a href="" class="nav__link">
                                <i class="fal fa-search toggle-searchbar"></i>
                            </a>
                            <div class="search__form__wrapper">
                                <form action="" class="search__form">
                                    <div class="form__group">
                                        <input type="text" class="form__input search__input" placeholder="Tên sản phẩm...">
                                    </div>
                                    <button type="submit" class="search__btn" name="searchSubmit"><i class="fal fa-search"></i></button>
                                </form>
                            </div>
                        </li>
                        <li class="nav__item"><a href="" class="nav__link"><i class="fal fa-shopping-cart"></i></a></li>
                    </ul>
                </nav>
                <i class="fal fa-bars open__btn" style="line-height: 80px;"></i>
            </div>
        </header>
        <nav class="respon__nav">
            <ul>
                <li class="flex-between nav__item">
                    <div class="nav__link"><i class="fal fa-user"></i></div>
                    <i class="fal fa-times close__btn"></i>
                </li>
                <li class="nav__item">
                    <form action="" method="post" class="search__form">
                        <input type="text" class="form__input search__input" placeholder="Search...">
                        <button class="submit" name="searchSubmit"><i class="fal fa-search"></i></button>
                    </form>
                </li>
                <li class="nav__item"><a href="" class="nav__link">Home</a></li>
                <li class="nav__item"><a href="" class="nav__link">Keyboards</a></li>
                <li class="nav__item"><a href="" class="nav__link">Keycaps</a></li>
                <li class="nav__item"><a href="" class="nav__link">Switches</a></li>
                <li class="nav__item"><a href="" class="nav__link">Kits</a></li>
                <li class="nav__item"><a href="" class="nav__link">Deskpads</a></li>
            </ul>
        </nav>
        <div class="respon__overlay"></div>
        <!-- header end -->
        <section class="section error-page-section mt100">
            <main class="error-main row g30 flex-center">
                <div class="error-text flex-column g20 tac flex-full">
                    <h1 class="hightlight-text primary-text">404.</h1>
                    <h4 class="label smb">Oops! Somethings went wrong.</h4>
                    <p class="text">Your desire page is not found. Report if you think this is an issue or return to Homepage. Contact to us if you have any question!</p>
                    <div class="row g12 flex-center">
                        <button class="btn outline__btn">Go to Homepage</button>
                        <button class="btn primary__btn">Report the issue</button>
                    </div>
                </div>
                <div class="common-banner" style="background-image: url('/views/assets/images/404-graphic-3.svg')"></div>
            </main>
        </section>
        <section class="section contact-section flex-column v-center">
            <h2 class="heading-4">Contact us now</h2>
            <div class="flex g12 mt12">
                <a href="" class="nav__link"><i class="fa-brands fa-facebook"></i></a>
                <a href="" class="nav__link"><i class="fa-brands fa-twitter"></i></a>
                <a href="" class="nav__link"><i class="fa-brands fa-youtube"></i></a>
                <a href="" class="nav__link"><i class="fa-brands fa-instagram"></i></a>
                <a href="" class="nav__link"><i class="fa-brands fa-github"></i></a>
            </div>
        </section>
    </div>
</body>
</html>
<script src=" /views/assets/resources/js/main.js"></script>