<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/app/resources/sass/css/app.css">
    <link rel="icon" type="image/x-icon" href="/app/views/assets/images/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body class="theme-light">
    <div class="container-full about-us">

        <!-- || header start -->
        <header class="header"> 
            <div class="header__inner flex-between">
                <a href="index.php" class="logo flex-center">
                    <img src="/app/views/assets/images/logo.svg" alt=""><span>typistial</span>
                </a>
                <nav>
                    <ul class="h-nav header__nav">
                        <li class="nav__item"><a href="" class="nav__link">Trang chủ</a></li>
                        <li class="nav__item">
                            <a href="" class="nav__link toggle-subnav">Sản phẩm</a>
                            <ul class="header__subnav flex-between row g20">
                                <li class="nav__item">
                                    <a href="" class="sub-title nav__link">CATEGORIES</a>
                                    <ul>
                                        <li class="nav__item"><a class="nav__link" href="">IN STOCK</a></li>
                                        <li class="nav__item"><a class="nav__link" href="">KEYBOARDS</a></li>
                                        <li class="nav__item"><a class="nav__link" href="">KITS</a></li>
                                        <li class="nav__item"><a class="nav__link" href="/html/switches.html">SWITCHES</a>
                                        </li>
                                        <li class="nav__item"><a class="nav__link" href="/html/keycaps.html">KEYCAPS</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav__item">
                                    <a href="/html/keycaps.html" class="nav__link sub-title">KEYCAPS</a>
                                    <ul>
                                        <li class="nav__item"><a class="nav__link" href="">GMK DUALSHOT® 2 Keycaps</a></li>
                                        <li class="nav__item"><a class="nav__link" href="">OTC Modo® Light Keycaps</a></li>
                                        <li class="nav__item"><a class="nav__link" href="">GMK Norse Keycap Set</a></li>
                                        <li class="nav__item"><a class="nav__link" href="">GMK 8008 2 Keycap Set</a></li>
                                        <li class="nav__item"><a class="nav__link" href="">OTC 9009 Keycaps</a></li>
                                    </ul>
                                </li>
                                <li class="nav__item">
                                    <a href="/html/kits.html" class="nav__link sub-title">KITS</a>
                                    <ul>
                                        <li class="nav__item"><a class="nav__link" href="">SPR 67 Kit</a></li>
                                        <li class="nav__item"><a class="nav__link" href="">ACR TOP 75 Kit</a></li>
                                        <li class="nav__item"><a class="nav__link" href="">5075S Kit</a></li>
                                        <li class="nav__item"><a class="nav__link" href="">ACR Pro Alice Plus Kit</a></li>
                                        <li class="nav__item"><a class="nav__link" href="">ACR Pro 75 Kit</a></li>
                                    </ul>
                                </li>
                                <li class="nav__item">
                                    <a href="/html/switches.html" class="nav__link sub-title">SWITCHES</a>
                                    <ul>
                                        <li class="nav__item"><a class="nav__link" href="/html/milky-pro.html">Gateron KS-3
                                                Milky Pro Switch Set</a></li>
                                        <li class="nav__item"><a class="nav__link" href="">Gateron Ink V2 Switch Set</a>
                                        </li>
                                        <li class="nav__item"><a class="nav__link" href="">Gateron Cap V2 Switch Set</a>
                                        </li>
                                        <li class="nav__item"><a class="nav__link" href="">Gateron Box CJ Linear Switch
                                                Set</a></li>
                                        <li class="nav__item"><a class="nav__link" href="">Gateron Box Ink V2 Switch Set</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav__item">
                                    <a href="/html/pre-built.html" class="nav__link sub-title">PRE-BUILT
                                        KEYBOARDS</a>
                                    <ul>
                                        <li class="nav__item"><a class="nav__link" href="">IQUNIX OG80 Wormhole Wireless</a>
                                        </li>
                                        <li class="nav__item"><a class="nav__link" href="">IQUNIX L80 Formula Typing
                                                Wireless</a></li>
                                        <li class="nav__item"><a class="nav__link" href="">Keychron Q8 (Alice Layout)
                                                QMK</a></li>
                                        <li class="nav__item"><a class="nav__link" href="">AKKO Black&Cyan 5075B Plus</a>
                                        </li>
                                        <li class="nav__item"><a class="nav__link" href="">AKKO Dracula Castle 5075B
                                                Plus</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav__item"><a href="" class="nav__link">Hổ trợ</a></li>
                        <li class="nav__item"><a href="" class="nav__link">Về chúng tôi</a></li>
                    </ul>
                </nav>
                <nav>
                    <ul class="h-nav header__nav icon__nav">
                        <li class="nav__item" style="position: relative">
                            <a href="" class="nav__link">
                                <i class="fal fa-user"></i>
                            </a>
                            <nav class="user__nav r4">
                                <ul>
                                    <li class="nav__item">
                                        <a href="" class="nav__link">
                                            <i class="fal fa-sign-in"></i> Login
                                        </a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="" class="nav__link">
                                            <i class="fal fa-user-plus"></i> Create account
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </li>
                        <li class="nav__item" style="position: relative">
                            <a href="" class="nav__link">
                                <i class="fal fa-search toggle-searchbar"></i>
                            </a>
                            <div class="search__form__wrapper">
                                <form action="" class="search__form">
                                    <div class="form__group">
                                        <input type="text" class="form__input search__input" placeholder="Tên sản phẩm...">
                                    </div>
                                    <button type="submit" class="search__btn" name="searchSubmit"><i class="fal fa-search"></i></button>
                                </form>
                            </div>
                        </li>
                        <li class="nav__item"><a href="" class="nav__link"><i class="fal fa-shopping-cart"></i></a></li>
                    </ul>
                </nav>
                <i class="fal fa-bars open__btn" style="line-height: 80px;"></i>
            </div>
        </header>
        <nav class="respon__nav">
            <ul>
                <li class="flex-between nav__item">
                    <div class="nav__link"><i class="fal fa-user"></i></div>
                    <i class="fal fa-times close__btn"></i>
                </li>
                <li class="nav__item">
                    <form action="" method="post" class="search__form">
                        <input type="text" class="form__input search__input" placeholder="Search...">
                        <button class="submit" name="searchSubmit"><i class="fal fa-search"></i></button>
                    </form>
                </li>
                <li class="nav__item"><a href="" class="nav__link">Home</a></li>
                <li class="nav__item"><a href="" class="nav__link">Keyboards</a></li>
                <li class="nav__item"><a href="" class="nav__link">Keycaps</a></li>
                <li class="nav__item"><a href="" class="nav__link">Switches</a></li>
                <li class="nav__item"><a href="" class="nav__link">Kits</a></li>
                <li class="nav__item"><a href="" class="nav__link">Deskpads</a></li>
            </ul>
        </nav>
        <div class="respon__overlay"></div>
        <!-- header end -->

        <!-- || about us section start -->
        <div class="section about-us__container mt80">
            <h1 class="title about-us__title">VỀ CHÚNG TÔI</h1>
            <main class="about-us__main">
                <section class="about-us__section flex-column">
                    <div class="flex-column g6">
                        <h1 class="section__title primary-text bold ttu">CHUYỆN CẬU SINH VIÊN</h1>
                        <h1 class="section__title primary-text bold ttu">ĐAM MÊ PHÍM CƠ VÀ CÁI KẾT</h1>
                    </div>
                    <div class="flex-full flex-column flex-center g20">
                        <p class="body-text2 md">Câu chuyện bắt đầu từ một cậu sinh viên với ước mơ trở thành một ông DEV đang theo học tại FPT Polytechnic.</p>
                        <p class="body-text2 md">Trong quá trình tìm hiểu về các món đồ công nghệ phục vụ cho việc học lập trình, cậu ta va phải một món đồ khiến cậu rât hào hứng, cơ bản là vì nó gắn liền với việc viết code một ngày hơn 8 tiếng của cậu. Và đó là bàn phím cơ.</p>
                        <p class="body-text2 md">Đó chính là tôi, Hồ Duy Hoàng Giang. Cùng với niềm đam mê lập trình và bàn phím cơ, tôi mong muốn tạo ra một cộng đồng với niềm đam mê custom bàn phím mãnh liệt cháy bỏng như trái tim người trẻ Việt Nam.</p>
                    </div>
                </section>
                <section class="about-us__section flex-column">
                    <div class="flex-column">
                        <h1 class="section__title primary-text bold ttu">CAM KẾT</h1>
                        <h1 class="section__title primary-text bold ttu">CỦA TYPISTIAL</h1>
                    </div>
                    <div class="flex-full flex-column flex-center g20 guarentee__wrapper">
                        <div class="guarentee-item__wrapper">
                            <div class="guarentee__item row flex-between g30">
                                <div class="flex-column g6">
                                    <h1 class="section__title guarentee__title primary-text bold ttu">đồng hành cùng</h1>
                                    <h1 class="section__title guarentee__title primary-text bold ttu">khách hàng</h1>
                                </div>
                                <div class="flex-full j-end">
                                    <p class="body-text2 md">Luôn bên cạnh và đảm bảo khách hàng có trải nghiệm tốn nhất là sứ mệnh hàng đầu của chúng tôi. Chúng tôi cam kết đảo bảo tốt nhất sự an toàn của khách hàng khi mua sắm cũng như trao đổi tại TYPISTIAL.</p>
                                </div>
                            </div>
                            <div class="guarentee__item row flex-between g30">
                                <div class="flex-column g6">
                                    <h1 class="section__title guarentee__title primary-text bold ttu">khách hàng</h1>
                                    <h1 class="section__title guarentee__title primary-text bold ttu">lân cận</h1>
                                </div>
                                <div class="flex-full j-end">
                                    <p class="body-text2 md">Đối với những khách hàng trong phạm vi thành phố, nơi trung tâm của TYPISTIAL trực thuộc, chúng tôi có những ưu đãi lớn dành cho khách hàng đến trãi nghiệm trực tiếp tại Showroom của TYPISTIAL.</p>
                                </div>
                            </div>
                            <div class="guarentee__item row flex-between g30">
                                <div class="flex-column g6">
                                    <h1 class="section__title guarentee__title primary-text bold ttu">chính trực</h1>
                                    <h1 class="section__title guarentee__title primary-text bold ttu">minh bạch</h1>
                                </div>
                                <div class="flex-full j-end">
                                    <p class="body-text2 md">Sự minh bạch trong giao dịch để đảm bảo lòng tin của khách hàng là ưu tiên hàng đầu trong quy trình làm việc của TYPISTIAL. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="about-us__section flex-column">
                    <h1 class="section__title primary-text bold ttu">NHÀ SÁNG LẬP</h1>
                    <div class="flex-full h-center">
                        <div class="author__card r8 p30">
                            <div class="author-card__inner flex-column flex-center g30 r8 p60">
                                <div class="author__avt common-banner rf" style="background-image: url('/app/views/assets/images/user__avt.png')"></div>
                                <div class="flex-column flex-center g6">
                                    <div class="author__name smb">Hoàng Giang</div>
                                    <div class="label">Typistial Founder</div>
                                </div>
                                <div class="flex g12">
                                    <i class="fas fa-quote-left"></i>
                                    <p class="text">Let’s create the biggest Keyboard Community in the world.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <!-- || about us section end -->

    </div>
</body>
</html>
<script src="/app/resources/js/main.js"></script>