<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Dashboard</title>
    <link rel="stylesheet" href="/app/resources/sass/css/app.css">
    <link rel="icon" type="image/x-icon" href="/app/views/assets/images/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body class="theme-light">
    <div class="container-full admin__container flex">
        <div class="admin__sidebar flex-column g30 p30">
            <a href="index.php" class="logo flex-center">
                <img src="/app/views/assets/images/logo.svg" alt=""><span class="logo__text">typistial</span>
            </a>
            <nav class="admin-sidebar__nav">
                <li class="nav__item sidebar-nav__item r6">
                    <a href="" class="nav__link sidebar-nav__link row g12 p20 md">
                        <i class="fa-solid fa-chart-simple sidebar-nav__icon"></i>
                        Dashboard
                    </a>
                </li>
                <li class="nav__item sidebar-nav__item r6">
                    <a href="" class="nav__link sidebar-nav__link row g12 p20 md">
                        <i class="fa-solid fa-envelope sidebar-nav__icon"></i>
                        Messages
                    </a>
                </li>
                <li class="nav__item sidebar-nav__item r6">
                    <a href="" class="nav__link sidebar-nav__link row g12 p20 md">
                        <i class="fas fa-archive sidebar-nav__icon"></i>
                        Orders
                    </a>
                </li>
                <li class="nav__item sidebar-nav__item r6">
                    <a href="" class="nav__link sidebar-nav__link row g12 p20 md">
                        <i class="fas fa-box sidebar-nav__icon"></i>
                        Products
                    </a>
                </li>
                <li class="nav__item sidebar-nav__item r6">
                    <a href="" class="nav__link sidebar-nav__link row g12 p20 md">
                        <i class="fas fa-user sidebar-nav__icon"></i>
                        Customers
                    </a>
                </li>
            </nav>
            <nav class="admin-sidebar__nav">
                <li class="nav__item sidebar-nav__item r6">
                    <a href="" class="nav__link sidebar-nav__link row g12 p20 md">
                        <i class="fas fa-user-edit sidebar-nav__icon"></i>
                        Roles
                    </a>
                </li>
                <li class="nav__item sidebar-nav__item r6">
                    <a href="" class="nav__link sidebar-nav__link row g12 p20 md">
                        <i class="fas fa-repeat sidebar-nav__icon"></i>
                        Requests
                    </a>
                </li>
                <li class="nav__item sidebar-nav__item r6">
                    <a href="" class="nav__link sidebar-nav__link row g12 p20 md">
                        <i class="fa-solid fa-gear sidebar-nav__icon"></i>
                        Setting
                    </a>
                </li>
            </nav>
        </div>
        <main class="admin__panel p20 flex-column flex-full g20">
            <div class="admin__header full v-center flex-between">
                <div class="header__icon sidebar__toggle p12 flex-center text r6 cp">
                    <i class="fa-solid fa-sliders"></i>
                </div>
                <div class="header__searchbar">
                    <form action="index.php?page=search" method="post" class="flex-full search__form oh">
                        <input type="text" class="form__input" placeholder="Orders, customers, products...">
                        <button type="submit" name="search" class="form__btn search__btn pi20">
                            <i class="fa-solid fa-search text"></i>
                        </button>
                    </form>
                </div>
                <div class="flex g12 por">
                    <a class="header__icon text p20 flex-center rf">
                        <i class="fa-solid fa-bell"></i>
                    </a>
                    <a class="header__icon rf admin__avt toggle-admin-subnav common-banner">
                        <img src="/app/views/assets/images/user__avt.png" alt="">
                    </a>
                    <ul class="admin__subnav r12 poa oh">
                        <li class="subnav__item">
                            <a href="" class="nav__link flex g12">
                                <div class="admin__avt">
                                    <img src="/app/views/assets/images/user__avt.png" alt="">
                                </div>
                                <div class="flex-column">
                                    <h2 class="body-text2 md admin__name">Hồ Duy Hoàng Giang</h2>
                                    <h2 class="label md admin__role">Admin</h2>
                                </div>
                            </a>
                        </li>
                        <li class="subnav__item flex flex-between">
                            <form action="" class="search__form">
                                <input type="text" class="form__input" placeholder="Search...">
                                <button type="submit" name="search"><i class="fas fa-search text"></i></button>
                            </form>
                        </li>
                        <li class="subnav__item">
                            <a href="" class="nav__link flex-between">
                                Messages
                                <span class="noti rf flex-center smb">5+</span>
                            </a>
                        </li>
                        <li class="subnav__item">
                            <a href="" class="nav__link flex-between">
                                Schedule
                                <!-- <span class="noti rf flex-center smb">5+</span> -->
                            </a>
                        </li>
                        <li class="subnav__item">
                            <a href="" class="nav__link flex-between">
                                Your plans
                                <!-- <span class="noti rf flex-center smb">5+</span> -->
                            </a>
                        </li>
                        <li class="subnav__item">
                            <a href="" class="nav__link flex-between">
                                Reminder
                                <!-- <span class="noti rf flex-center smb">5+</span> -->
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="admin__main flex-column g12">
                <table class="category__table r12 oh">
                    <!-- table head start -->
                    <tr>
                        <th>Id</th>
                        <th>Tên danh mục</th>
                        <th>Số lượng sản phẩm</th>
                        <th>Sửa / Xóa</th>
                    </tr>
                    <!-- table head end -->

                    <!-- table body start -->
                    <tbody>
                        <!-- single category start -->
                        <tr>
                            <td>1</td>
                            <td>Keyboards</td>
                            <td>28</td>
                            <td class="flex-center g12">
                                <a href="" class="edit__btn">
                                    <i class="fal fa-pen"></i>  
                                </a>
                                |
                                <a href="" class="delete__btn">
                                    <i class="fal fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                        <!-- single category end -->

                    </tbody>
                    <!-- table body end -->

                </table>
            </div>
        </main>
    </div>
</body>
</html>
<script src="/app/resources/js/main.js"></script>