<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="../views/assets/resources/sass/css/app.css">
    <link rel="icon" type="image/x-icon" href="../views/assets/images/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container-full">
        <!-- || header start -->
        <header class="header"> 
            <div class="header__inner flex-between">
                <a href="index.php" class="logo flex-center">
                    <img src="../views/assets/images/logo.svg" alt=""><span>typistial</span>
                </a>
                <nav>
                    <ul class="h-nav header__nav">
                        <li class="nav__item"><a href="" class="nav__link">Trang chủ</a></li>
                        <li class="nav__item">
                            <a href="" class="nav__link toggle-subnav">Sản phẩm</a>
                            <ul class="header__subnav flex-between">
                                <li class="nav__item">
                                    <a href="" class="sub-title nav__link">CATEGORIES</a>
                                    <ul>
                                        <li class="nav__item"><a class="nav__link" href="">IN STOCK</a></li>
                                        <li class="nav__item"><a class="nav__link" href="">KEYBOARDS</a></li>
                                        <li class="nav__item"><a class="nav__link" href="">KITS</a></li>
                                        <li class="nav__item"><a class="nav__link" href="/html/switches.html">SWITCHES</a>
                                        </li>
                                        <li class="nav__item"><a class="nav__link" href="/html/keycaps.html">KEYCAPS</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav__item">
                                    <a href="/html/keycaps.html" class="nav__link sub-title">KEYCAPS</a>
                                    <ul>
                                        <li class="nav__item"><a class="nav__link" href="">GMK DUALSHOT® 2 Keycaps</a></li>
                                        <li class="nav__item"><a class="nav__link" href="">OTC Modo® Light Keycaps</a></li>
                                        <li class="nav__item"><a class="nav__link" href="">GMK Norse Keycap Set</a></li>
                                        <li class="nav__item"><a class="nav__link" href="">GMK 8008 2 Keycap Set</a></li>
                                        <li class="nav__item"><a class="nav__link" href="">OTC 9009 Keycaps</a></li>
                                    </ul>
                                </li>
                                <li class="nav__item">
                                    <a href="/html/kits.html" class="nav__link sub-title">KITS</a>
                                    <ul>
                                        <li class="nav__item"><a class="nav__link" href="">SPR 67 Kit</a></li>
                                        <li class="nav__item"><a class="nav__link" href="">ACR TOP 75 Kit</a></li>
                                        <li class="nav__item"><a class="nav__link" href="">5075S Kit</a></li>
                                        <li class="nav__item"><a class="nav__link" href="">ACR Pro Alice Plus Kit</a></li>
                                        <li class="nav__item"><a class="nav__link" href="">ACR Pro 75 Kit</a></li>
                                    </ul>
                                </li>
                                <li class="nav__item">
                                    <a href="/html/switches.html" class="nav__link sub-title">SWITCHES</a>
                                    <ul>
                                        <li class="nav__item"><a class="nav__link" href="/html/milky-pro.html">Gateron KS-3
                                                Milky Pro Switch Set</a></li>
                                        <li class="nav__item"><a class="nav__link" href="">Gateron Ink V2 Switch Set</a>
                                        </li>
                                        <li class="nav__item"><a class="nav__link" href="">Gateron Cap V2 Switch Set</a>
                                        </li>
                                        <li class="nav__item"><a class="nav__link" href="">Gateron Box CJ Linear Switch
                                                Set</a></li>
                                        <li class="nav__item"><a class="nav__link" href="">Gateron Box Ink V2 Switch Set</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav__item">
                                    <a href="/html/pre-built.html" class="nav__link sub-title">PRE-BUILT
                                        KEYBOARDS</a>
                                    <ul>
                                        <li class="nav__item"><a class="nav__link" href="">IQUNIX OG80 Wormhole Wireless</a>
                                        </li>
                                        <li class="nav__item"><a class="nav__link" href="">IQUNIX L80 Formula Typing
                                                Wireless</a></li>
                                        <li class="nav__item"><a class="nav__link" href="">Keychron Q8 (Alice Layout)
                                                QMK</a></li>
                                        <li class="nav__item"><a class="nav__link" href="">AKKO Black&Cyan 5075B Plus</a>
                                        </li>
                                        <li class="nav__item"><a class="nav__link" href="">AKKO Dracula Castle 5075B
                                                Plus</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav__item"><a href="" class="nav__link">Hổ trợ</a></li>
                        <li class="nav__item"><a href="" class="nav__link">Về chúng tôi</a></li>
                    </ul>
                </nav>
                <nav>
                    <ul class="h-nav header__nav icon__nav">
                        <li class="nav__item" style="position: relative">
                            <a href="" class="nav__link">
                                <i class="fal fa-user"></i>
                            </a>
                            <nav class="user__nav r4">
                                <ul>
                                    <li class="nav__item">
                                        <a href="" class="nav__link">
                                            <i class="fal fa-sign-in"></i> Login
                                        </a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="" class="nav__link">
                                            <i class="fal fa-user-plus"></i> Create account
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </li>
                        <li class="nav__item" style="position: relative">
                            <a href="" class="nav__link">
                                <i class="fal fa-search toggle-searchbar"></i>
                            </a>
                            <div class="search__form__wrapper">
                                <form action="" class="search__form">
                                    <div class="form__group">
                                        <input type="text" class="form__input" placeholder="Tên sản phẩm...">
                                    </div>
                                    <button type="submit" class="search__btn" name="searchSubmit"><i class="fal fa-search"></i></button>
                                </form>
                            </div>
                        </li>
                        <li class="nav__item"><a href="" class="nav__link"><i class="fal fa-shopping-cart"></i></a></li>
                    </ul>
                </nav>
                <i class="fal fa-bars open__btn" style="line-height: 80px;"></i>
            </div>
        </header>
        <nav class="respon__nav">
            <ul>
                <li class="flex-between nav__item">
                    <div class="nav__link"><i class="fal fa-user"></i></div>
                    <i class="fal fa-times close__btn"></i>
                </li>
                <li class="nav__item">
                    <form action="" method="post" class="search__form">
                        <input type="text" class="form__input search__input" placeholder="Search...">
                        <button class="submit" name="searchSubmit"><i class="fal fa-search"></i></button>
                    </form>
                </li>
                <li class="nav__item"><a href="" class="nav__link">Home</a></li>
                <li class="nav__item"><a href="" class="nav__link">Keyboards</a></li>
                <li class="nav__item"><a href="" class="nav__link">Keycaps</a></li>
                <li class="nav__item"><a href="" class="nav__link">Switches</a></li>
                <li class="nav__item"><a href="" class="nav__link">Kits</a></li>
                <li class="nav__item"><a href="" class="nav__link">Deskpads</a></li>
            </ul>
        </nav>
        <div class="respon__overlay"></div>
        <!-- header end -->

        <!-- || main section start -->
        <section class="section cart__section" style="margin-top: 10rem">
            <nav class="mb12">
                <ul class="row r12 cart__nav v-center">
                    <div class="toggle-dropdown flex-center g6" style="display: none;"><i class="fa-solid fa-sliders"></i> Giỏ hàng</div>
                    <li class="nav__item active"><i class="fa-solid fa-box"></i><a href="/html/cart.html" class="nav__link">Giỏ hàng</a></li>
                    <li class="nav__item"><a href="" class="nav__link"><i class="fa-solid fa-chevron-right"></i></a></li>
                    <li class="nav__item"><i class="fa-solid fa-wallet"></i><a href="/html/checkout.html" class="nav__link">Thanh toán</a></li>
                    <li class="nav__item"><a href="" class="nav__link"><i class="fa-solid fa-chevron-right"></i></a></li>
                    <li class="nav__item">
                        <i class="fa-solid fa-credit-card"></i><a href="/html/payment.html" class="nav__link">Phương thức thanh toán</a>
                    </li>
                </ul>
                <ul class="cart__nav cart-nav__respon flex-column g20 r12 mt6">
                    <li class="nav__item active"><i class="fa-solid fa-box"></i><a href="/html/cart.html" class="nav__link">Giỏ hàng</a></li>
                    <li class="nav__item"><i class="fa-solid fa-wallet"></i><a href="/html/checkout.html" class="nav__link">Thanh toán</a></li>
                    <li class="nav__item">
                        <i class="fa-solid fa-credit-card"></i><a href="/html/payment.html" class="nav__link">Phương thức thanh toán</a>
                    </li>
                </ul>
            </nav>
            <div class="cart__body row g12">
                <div class="cart-product__wrapper flex-full r8 g20">
                    <!-- single cart product start -->
                    <div class="cart__product">
                        <div class="flex-between g12">
                            <div class="flex-between g12">
                                <div class="cart-product__banner common-banner" style="background-image: url('../views/assets/images/banner4.webp')"></div>
                                <div class="flex-column g30">
                                    <h2 class="cart-product__name">PRODUCT NAME</h2>
                                    <h4 class="cart-product__price cart-product__unit-price">$45</h4>
                                </div>
                            </div>
                            <div class="flex-column end g30">
                                <a href="" class="cart-product__btn del__btn"><i class="fal fa-times"></i></a>
                                <div class="v-center product__qty">
                                    <button class="cart-product__btn minus__btn"><i class="fal fa-minus"></i></button>
                                    <input type="number" name="" id="" class="cart-product__input qty__input" value="2" min="0">
                                    <button class="cart-product__btn plus__btn"><i class="fal fa-plus"></i></button>
                                </div>
                                <h4 class="cart-product__price cart-product__subtotal">$90</h4>
                            </div>
                        </div>
                    </div>
                    <!-- single cart product end -->

                    <!-- cart annouct when empty -->
                    <!-- <div class="cart-empty__announce g12">
                        <h2 class="announce__text tac">YOUR CART IS EMPTY</h2>
                        <button class="btn solid__btn">Continue shopping</button>
                    </div> -->
                </div>
                <div class="cart__summary r8 flex-full p20">
                    <div class="summary__wrapper flex-column g30 full">
                        <h2 class="summary__title">Tổng hóa đơn</h2>
                        <div class="summary__detail g12 flex-column">
                            <div class="flex-between">
                                <span class="body-text2">Tổng tiền sản phẩm</span>
                                <span class="summary__price">$0</span>
                            </div>
                            <h5 class="coupon">Thêm mã giảm giá <i class="fa-solid fa-arrow-right"></i></h5>
                        </div>
                        <div class="summary__total flex-between v-center">
                            <span class="sub-title">Thực chi</span>
                            <span class="summary__total__price body-text1">$0</span>
                        </div>
                    </div>
                    <button type="submit" class="btn primary__btn smb full mt30">Đi tới thanh toán</button>
                </div>
            </div>
        </section>
        <!-- || main section end -->
    </div>
</body>
</html>
<script src="../views/resources/js/main.js"></script>