.admin-product__item {
    .admin-product__banner {
        width: clamp(8rem, 6.571rem + 3.81vw, 10rem);
        height: clamp(10rem, 8.214rem + 4.762vw, 12.5rem);
    }
    .more__btn {
        display: none;
    }
    .product-function__mininav {
        top: 100%;
        right: 0;
        width: 25rem;
        transition: $boucing-trans;
        opacity: 0;
        visibility: hidden;
        .nav__item {
            color: $text-color;
            font-weight: $fw-md;
            transform: translateY(1rem);
            .nav__link {
                padding: 1.6rem 2rem;
                &:hover {
                    background: $common-hover-bg;
                }
            }
        }
    }
    .product-function__mininav.active {
        opacity: 1;
        visibility: visible;
        .nav__item {
            transform: translateY(0);
        }
    }
}

// || Responsive 
/* Mobile: with < 740px */
@media only screen and (max-width: 46.1875em){
    
}
/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em){
    
}
/* Mobile and Tablet: width < 1024px */
@media only screen and (max-width: 63.9375em){
    .product__info--updatedate {
        display: none !important;
    }
    .product-function__nav {
        display: none !important;
    }
    .more__btn {
        display: block !important;
    }
}
/* PC: width >= 1024px */
@media only screen and (min-width: 64em){

}