.user-info__body {
    .info-box {
        background: $background-color;
    }
    .bill-product {
        .bill-product__banner {
            width: 10rem;
            height: 14rem;
        }
    }   
}