.contact__section {
    padding-block: clamp(2rem, -0.857rem + 7.619vw, 6rem);
}
.contact__main {
    .contact-text {
        &__title {
            .contact-text__group {
                gap: clamp(1rem, -0.429rem + 3.81vw, 3rem);
            }
            .primary-text {
                font-size: clamp(3rem, -2rem + 13.333vw, 10rem);
                white-space: nowrap;
                line-height: clamp(4.2rem, -1.371rem + 14.857vw, 12rem);
            }
        }
        &__subtext {
            max-width: 50rem;
            line-height: 2rem;
            font-size: clamp(1.3rem, 1.086rem + 0.571vw, 1.6rem);
        }
    }
    .contact__form {
        width: fit-content;
        background: $common-color;
        box-shadow: $box-shadow;
        .form__group {
            .form__input {
                width: 100%;
                background: none;
                border: 1px solid transparent;
            }
        }
    }
}